<h2 mat-dialog-title>
  <h1>Finalizar Compra</h1>
  <button mat-icon-button class="close-button" (click)="dialogRef.close()">
    ✖
  </button>
</h2>

  <mat-dialog-content class="mat-typography"> 
    <label>Forma de Pagamento</label>
    <select class="form-control" [(ngModel)]="tipoPagamento" (click)="aoSelecionarTipoPaagamento()"> 
      <option [ngValue]="null">Selecione aqui sua forma de pagamento</option>
      <option *ngFor="let forma of formasPagamento" [ngValue]="forma">{{ forma }}</option>
    </select>
    <p>Valor Total: <strong>{{valorTotal | currency : "$"}}</strong></p>
    <div style="text-align: center; margin-top: 12px">
      <img *ngIf="tipoPagamento === 'Pix'" src="https://img.vivaolinux.com.br/imagens/dicas/comunidade/qrcode_www.vivaolinux.com.br.png" alt="Pix" width="150" height="150">
    </div>
    

  </mat-dialog-content>


<mat-dialog-actions align="end">
  <button type="button" class="btn btn-danger btn-sm" (click)="finalizarCompra()">
    Confirmar Compra
  </button>
</mat-dialog-actions>